/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jon {
  color:purple;
  font-style: oblique;
  font-family: cursive;
  font-size: 2em;
  position: relative;
  justify-content: center;
}

.first_thing {
  color: green;
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
}

.welcome_stuff {
  color: #660033;
  font-family: fantasy;
  font-size: 30px;
  font-style: normal;
}

.pretty {
  color: green;
  font-family: cursive;
  font-size: 25px;
  font-style: oblique;
}

.n_user {
  color: #660033;
  font-family: cursive;
  font-variant: normal;
  font-size: 35px;
  font-style: oblique;
  position: relative;
}

.log_out {
  font-family: monospace;
  font-size: 40px;
  color: blue;
  background-color: pink;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  position:relative;
  justify-content:center;


}

.log_in {
  font-family: monospace;
  font-size: 40px;
  color: pink;
  background-color: chartreuse;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  position:relative;
  justify-content:center;
}

.bold {
  color:purple;
  font-family: cursive;
  font-weight: bold;
}
